:root {
  --background: #121721;
  --text-color: #fff;
}

html, body, button {
  background-color: var(--background);
  font-family: Inter, sans-serif;
  color: var(--text-color);
  text-align: center;
  vertical-align: baseline;

  border: none;
  margin: 0;
  padding: 0;
  width: auto;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  overflow: visible;
}

/* Hero Section */
#hero-section {
  height: 100vh;
  margin: 2rem;
}

.hero-content {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.hero-content h2 {
  font-weight: 400;
}

.hero-content h3 {
  font-weight: 400;
}

.hero-content button {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 1.5rem 1.25rem 1.5rem 1.25rem;
  align-items: center;
  border-radius: 0.5rem;
  background: #2B6BB1;

  cursor: pointer;
}

.hero-content button:hover {
  transform: scale(1.1);
  filter: opacity(0.9);
}

/* Info Tec Section */
#tec-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 4rem;
  margin-top: 8rem;
}

#tec-section .title-tec {
  font-size: 2.25rem;
  margin-bottom: 4rem;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

/* Card */
.card {
  background-color: #1A212D;
  border-radius: 16px;

  padding: 1rem;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.20);

  min-width: 8rem;
  min-height: 8rem;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.card-title .logo {
  height: 30px;
  width: 30px;
}

.card-description {
  font-size: 0.8rem;
  height: 120px;
  width: 200px;
}

.card-description {
  word-wrap: break-word;
}